@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: content-box;
  width: 100%;
  @include for-little-desktop {
    max-width: 1200px;
    width: 100%;
  }

  @include for-big-tablet {
    max-width: 1024px;
    width: 100%;
  }
  @include for-tablet {
    max-width: 768px;
    width: 100%;
  }
  @include for-little-tablet {
    max-width: 600px;
    width: 100%;
  }
  @include for-phone {
    max-width: 599px;
    width: 100%;
  }
  @include for-little-phone {
    max-width: 375px;
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: black;
}
