$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(0deg, $color-primary, $color-secondary);
$bg-color-primary:  rgb(243, 243, 243);
$box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
$font-title: "Shrikhand", "cursive";
$circularLoaderSize: 90px;
$colors--3: [#8360c3, #7274b9, #6087af, #4e9aa4, #40ac9c, #2ebf91];