// ---------- color ----------
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(0deg, $color-primary, $color-secondary);
$bg-color-primary:  rgb(243, 243, 243);

// ---------- ombre ----------
$box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);

// ---------- polices ----------
$font-title: "Shrikhand", "cursive";