
// main
.restaurent {
  display: flex;
  flex-flow: row nowrap;
  background-color: $bg-color-primary;
  position: relative;
  z-index: 1;
  top: 29rem;
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 13rem;
  border-radius: 1rem 1rem 0 0;
  @include for-little-desktop {
    justify-content: center;
    max-width: 1200px;
    flex-flow: row wrap;
  }

  @include for-phone {
    max-width: 599px;
    top: 15rem;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5rem;
    padding-right: 0;
    margin: 0;
  }
  @include for-little-phone {
    max-width: 375px;
  }

  // titre restaurent
  &__title {
    position: absolute;
    left: 1rem ;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: $font-title;
    @include for-phone {
      top: 0;
      font-size: 1.4rem;
    }
  }

  // like restaurent
  & .like {
    position: absolute;
    top: 1.5rem;
    margin-left: 95%;
    cursor: pointer;
    z-index: 1;
    @include for-little-desktop {
      margin-left: 80%;
    }
    @include for-big-tablet {
      margin-left: 80%;
    }
    @include for-tablet {
      margin-left: 75%;
    }
    @include for-phone {
      max-width: 2rem;
      top: 1rem;
      left: 3.5rem;
    }
    @include for-little-phone {
      left: 2.5rem;
    }

    & .fa-heart {
      position: absolute;
    }

    @include like;
  }

  // bouton
  &__order {
    @include btn(-45rem, 28rem, 10rem, 3rem);
    // btn order little desktop
    @include for-little-desktop {
      @include btn(-20rem, 30rem, 10rem, 3rem);
    }
    // btn order tablet
    @include for-tablet {
      @include btn(-14rem, 29rem, 10rem, 3rem);
    }
    // btn order phone
    @include for-phone {
      @include btn(0, 2rem, 10rem, 3rem);
    }
    // btn order little phone
    @include for-little-phone {
      @include btn(0, 2rem, 10rem, 3rem);
    }
  }
}

// entrée-plat-dessert
.menu-type {
  position: relative;
  top: 4rem;
  left: 2rem;
  font-weight: lighter;

  &::after {
    content: "";
    width: 2.5rem;
    height: 0.25rem;
    background-color: $color-tertiary;
    position: absolute;
    left: 0;
    top: 2rem;
  }

  @include for-phone {
    margin: 2rem 0 1rem 1rem;
    top: 0;
    left: 1rem;
  }
}

// Card menu
.menu-card {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: $box-shadow;
  margin: 1rem 1.5rem 0 2rem;
  border-radius: 1rem;
  width: 23rem;
  height: 4.6rem;
  top: 4rem;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  @include for-big-tablet {
    margin-bottom: 1.5rem;
  }
  @include for-phone {
    width: 23rem;
    left: -0.45rem;
    top: 0;
  }
  @include for-little-phone {
    width: 21rem;
    left: -0.25rem;
  }

  // titre plat
  & h3 {
    position: relative;
    top: 0;
    left: 1rem;
    width: 20rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // description plat
  & p {
    position: relative;
    top: -0.8rem;
    left: 1rem;
    font-weight: lighter;
    width: 20rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include for-phone {
      font-size: 0.9rem;
    }
  }

  // prix du plat
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: -2.8rem;
    left: -1rem;
    transition-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  // Coche plat
  &__confirm-icons {
    background-color: $color-tertiary;
    position: relative;
    top: -7.1rem;
    left: 23rem;
    width: 6rem;
    height: 5rem;
    display: flex;
    border-radius : 0 1rem 1rem 0;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
    @include for-big-tablet {
      top: -7.2rem;
    }
    &__icons {
      height: 2rem;
      width: 2rem;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 1s;
      @include for-phone {
        margin-top: 0.5rem;
      }
    }
    & .fa-check{
      color: $color-tertiary;
    }
  }

  // animation plat
  &:hover {
    & .menu-card__confirm-icons {
      transform: translateX(-4.5rem);
      @include for-little-phone {
        transform: translateX(-6.5rem);
      }
      &__icons {
        transform: rotate(360deg);
      }
    }
    & .menu-card__price {
      left: -5rem;
    }
    & h3 {
      width: 16rem;
      @include for-little-phone {
        width: 13rem;
      }
    }
    & p {
      width: 14rem;
      @include for-little-phone {
        width: 12rem;
      }
    }
  }
}

// animation menu
.restaurent__starter {
  @include animItemApproach(1s);
  @include for-phone {
    margin-top: 4rem;
  }
}

.restaurent__main-course {
  @include animItemApproach(1.5s);

  @include for-big-tablet {
  }
  @include for-phone {
    margin-left: 0;
  }
}

.restaurent__dessert {
  @include animItemApproach(2s);

  @include for-little-desktop {
    margin-left: 12rem;
  }
  @include for-tablet {
    position: relative;
    margin-left: 0;
    left: 5rem;
  }
  @include for-little-tablet {
    margin-left: 0;
  }
  @include for-phone {
    left: 0;
  }
}



