
.restaurent {
  display: flex;
  flex-flow: row nowrap;
  background-color: $bg-color-primary;
  position: relative;
  z-index: 1;
  top: 29rem;
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 13rem;
  border-radius: 1rem 1rem 0 0;
  @include for-little-desktop {
    justify-content: center;
    max-width: 1200px;
    flex-flow: row wrap;
  }

  @include for-phone {
    max-width: 599px;
    top: 15rem;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 5rem;
    padding-right: 0;
    margin: 0;
  }
  @include for-little-phone {
    max-width: 375px;
  }

  &__title {
    position: absolute;
    left: 1rem;
    text-transform: uppercase;
    font-family: $font-title;
    @include for-phone {
      top: 0;
      font-size: 1.4rem;
    }
  }

  &__icons {
    position: relative;
    top: 1.5rem;
    left: 75rem;
    left: 75rem;
    @include for-little-desktop {
      left: 53rem;
    }
    @include for-big-tablet{
      left: 50rem;
    }
    @include for-tablet {
      left: 25rem;
    }
    @include for-phone {
      max-width: 2rem;
      top: 1rem;
      left: 10rem;
      margin: 0;
    }
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
  }

  &__order {
    @include btn(-45rem, 30rem, 10rem, 3rem);
    // btn order little desktop
    @include for-little-desktop {
      @include btn(-20rem, 30rem, 10rem, 3rem);
    }
    // btn order tablet
    @include for-tablet {
      @include btn(-14rem, 29rem, 10rem, 3rem);
    }
    // btn order phone
    @include for-phone {
      @include btn(0, 2rem, 10rem, 3rem);
    }
    // btn order little phone
    @include for-little-phone {
      @include btn(0, 2rem, 10rem, 3rem);
    }
  }
}

.menu-card {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: $box-shadow;
  margin: 1rem 1.5rem 0 2rem;
  border-radius: 1rem;
  width: 23rem;
  height: 5rem;
  top: 4rem;
  left: -2rem;
  @include for-big-tablet{
    margin-bottom: 1.5rem;
  }
  @include for-phone {
    width: 23rem;
    left: 0.5rem;
    top: 0;
  }
  @include for-little-phone {
    width: 21rem;
    left: 0;
  }


  & h3 {
    position: relative;
    top: 1rem;
    left: 1rem;
  }

  & p {
    position: relative;
    top: 0.3rem;
    left: 1rem;
    font-weight: lighter;
    @include for-phone {
      font-size: 0.9rem;
    }
  }

  & div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: -2rem;
    left: -1rem;
  }
}

.menu-type {
  position: relative;
  top: 4rem;
  left: -0.7rem;
  font-weight: lighter;

  &::after {
    content: "";
    width: 2.5rem;
    height: 0.25rem;
    background-color: $color-tertiary;
    position: absolute;
    left: 0;
    top: 2rem;
  }
  @include for-phone {
    margin: 3rem 0 1rem 1rem;
    top: 0;
    left: 0;
  }
}

.restaurent__main-course {
  @include for-big-tablet{
    margin-left: 2rem;
  }
  @include for-phone {
    margin-left: 0;
  }
}

.restaurent__dessert {
  @include for-little-desktop {
    margin-left: 12rem;
  }
  @include for-tablet {
    position: relative;
    margin-left: 0;
    left: 6.2rem;
  }
  @include for-little-tablet {
    margin-left: 0;
  }
  @include for-phone {
    left: 0;
  }
}



